/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}
.fab-button {
    height: 50;
    width: 50;
    margin: 20;
    color: #fff;
    rippleColor :  #fff;
    background-color: #fff;
}

.fab-button-small {
    height: 40;
    width: 40;
    margin: 20;
    color: #fff;
    rippleColor :  #fff;
    background-color: #fff;
}

.top-left {
    horizontal-align: left;
    vertical-align: top;
}

.top-right {
    horizontal-align: right;
    vertical-align: top;
}

.bottom-left {
    horizontal-align: left;
    vertical-align: bottom;
}

.bottom-right {
    horizontal-align: right;
    vertical-align: bottom;
}

.bottom-center {
    horizontal-align: center;
    vertical-align: bottom;
}
